<div fxLayout="row" fxLayoutAlign="space-around center" class="footer">
  <button mat-flat-button routerLink="menu">
    <img src="assets/images/rapid-actions-icons/menu.svg" alt="" />
  </button>
  <button mat-flat-button routerLink="../dashboard">
    <img src="assets/images/rapid-actions-icons/home.svg" alt="" />
  </button>

  <button mat-flat-button routerLink="profile">
    <img src="assets/images/avatar-icons/avatar-man.svg" alt="" />
  </button>
  <button mat-flat-button routerLink="favorites">
    <img src="assets/images/rapid-actions-icons/favorito.svg" alt="" />
  </button>
  <button mat-flat-button routerLink="go-to-pay">
    <img src="assets/images/rapid-actions-icons/campana.svg" alt="" />
  </button>
</div>
