<mat-drawer-container fullscreen>
  <mat-drawer #drawer>
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <div class="menubar" fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <div id="typography">
        <span id="sushi">Sushi </span><span id="lango"> Lango</span>
      </div>
      <div>
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button
            mat-menu-item
            *ngFor="let item of menuItem"
            [routerLink]="item.route"
          >
            <mat-icon>{{ item.icon }}</mat-icon>
            {{ item.label }}
          </button>
        </mat-menu>
      </div>
    </div>

    <div class="init-sushiPage-outlet" fxLayout="column">
      <router-outlet></router-outlet>
    </div>
    <app-bottom-menu></app-bottom-menu>
  </mat-drawer-content>
</mat-drawer-container>
