span {
  font-family: "Rage", sans-serif;
  font-size: 30px;
  color: #1f1f1f;
  margin-bottom: 50px;
}
mat-card {
  color: #1f1f1f;
  background-color: white;
  box-shadow: 0px 5px 10px #1f1f1f !important;
  border-radius: 5%;
}
mat-card-subtitle {
  color: #424242;
}
